
body{
    background-image: linear-gradient( to right, #0d6f99,#7abddb, #65b4d6, #0e719b );
}
html {
    font-size: 60.5%;
    scroll-behavior: smooth;
    /* 1em = 10px */
}





/*----ABA DESCRIÇÃO----*/


/*----RODAPE----*/


